<!DOCTYPE html>
<html>

<head>
  <title>UVA API by Caio Saldanha</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
</head>

<body class="container col-8">
  <h1>UVA API</h1>
  <p>Data from 1970 to 2023</p>

  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}

  <form method="POST" action="/">
    <label for="category">Category:</label>
    <select id="category" name="category" class="form-select" required>
      <option value="production" selected>production</option>
      <option value="processing">processing</option>
      <option value="commercialization">commercialization</option>
      <option value="importation">importation</option>
      <option value="exportation">exportation</option>
    </select>
    <label for="year">Year:</label>
    <select id="year" name="year" class="form-select" required>
      {% for year in range(2023, 1969, -1) %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
    <br />
    <button type="submit">Submit</button>
  </form>
  <script>
    const defaultYear = 2023;
    const yearSelect = document.getElementById("year");
    yearSelect.value = defaultYear;
  </script>
</body>

</html>